@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --max-width: 1100px;
  --header-height: 7rem;
  --footer-height: 7rem;
}

/* CSS Reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* Global Styles*/

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  background: linear-gradient(
    90deg,
    rgba(213, 51, 105, 1) 0%,
    rgba(218, 174, 81, 1) 100%
  );
  color: var(--textColor);
}

li {
  list-style: none;
}

a {
  color: blue;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: capitalize;
}

header {
  height: var(--header-height);
  border-radius: 0.5rem;
  border: 2px solid black;
}

h1 {
  font-size: 5rem;
  margin: 0;
  text-align: center;
  color: blueviolet;
}

footer {
  height: var(--footer-height);
  border: 2px solid black;
  border-radius: 0.5rem;
  margin-top: 8rem;
}

.container {
  max-width: var(--maxWidth);
  margin: 0 auto;
  padding: 0 2%;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 5fr;
  height: calc(100vh - var(--header-height) - var(--footer-height));
}

aside {
  background-color: bisque;
  font-size: 3rem;
  text-align: center;
  padding-top: 5rem;
  border-radius: 0.5rem;
  border: 2px solid black;
}

#nav li {
  margin-bottom: 2rem;
}

main {
  border-radius: 0.5rem;
  border: 2px solid black;
  background: rgba(218, 174, 81, 0.9);
}
#form {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  padding-top: 10px;
  border-radius: 3px;
}

label {
  color: rgb(0, 0, 0);
  margin-top: 27px;
  margin-bottom: 0;
  font-weight: bold;
}

p {
  font-weight: bold;
}

input {
  margin-bottom: 1.125em;
}

form {
  max-width: 300px;
  margin: 0 auto;
}

label,
p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"] {
  width: 100%;
  height: 4rem;
  padding: 0;
  border-radius: 5px;
  background: #e8eeef;
  font-size: 1.5rem;
  padding-left: 1em;
  margin-top: 1rem;
}

input {
  border: solid 1px black;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus {
  border: solid 2px blue;
}

button[type="submit"] {
  padding: 1rem 2rem;
  margin: 1rem 0;
  color: #fff;
  background: lightseagreen;
  font-size: 2rem;
  border-radius: 0.5rem;
  border: none;
  margin-right: 7rem;
  cursor: pointer;
}

button[type="reset"] {
  padding: 1rem 3rem;
  margin: 1rem 0;
  color: #fff;
  background-color: cornflowerblue;
  font-size: 2rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
}

.error {
  color: red;
  display: none;
  font-size: 1.5rem;
}

.not-valid {
  border: 2px solid red;
}
